*{
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html{
    font-size: 62.5%;
    }

nav{
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: darkcyan;
    height: 9%;
    width: 100%;
    position: fixed;
    }

#logo{
    color: whitesmoke;
    font-family: monospace, courier, new;
    font-size: 3.0rem;
    line-height: 5.0rem;
    font-weight: bold;
    border: 0px;
    }

nav ul{
    display: grid;
    grid-auto-flow: column;
    float: right;
    gap: .6em;
    justify-content: center;
    margin-right: 2rem;
    }
    
nav ul li{
    display: inline-block;
    line-height: 6.0rem;
    }

nav ul li a{
    color: whitesmoke;
    font-size: 0.7rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: .1rem .1rem;
    border-radius: .3rem;
    float: right;
    height: 1.0rem;
    }

nav ul li:hover{
    background-color: lightgreen;
    border-radius: .4rem;
    line-height: 8.0rem;
}
.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.776), rgba(0, 0, 0, 0.233)), url(https://images.pexels.com/photos/9510438/pexels-photo-9510438.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    }

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: whitesmoke;
    text-align: center;
    }
      
.hero-text p{
    margin: .1rem;
    padding: .4rem;
    font-size: 1.3rem;
    font-weight: 250;
}
      
button{
    background: darkcyan;
    border: .2rem solid;
    color: whitesmoke;
    font-size: 1.5rem;
    padding: 1rem 2.5rem;
    border-radius: .8rem;
    font-weight: bold;
    transition: 0.5s all ease;
}
    
button:hover{
    background-color: lightgreen;
}

.footer {
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
    justify-content: center;
    background-color: darkcyan;
    position: fixed;  
    bottom: 0;
    padding: 2.0rem 2.0rem;
    width: 100%;
    height: 0rem;
}

.hide{
    display: none;
}


